{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
    <a href="">Create book</a>
    <hr>
  {% if books_list %}
    <ul>
      {% for book in page_obj %}
      <li>
        <a href="{% url 'book' book.id %}">{{ book.title }}</a>
        <br>
        ({{book.author}})
      </li>
      {% endfor %}
    </ul>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>


  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
